<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Guray Ozgur
              </h1>
              <p>
                Hi, I'm Guray!
                Welcome to my personal webpage, where I share my passion for Machine Learning, Artificial Intelligence, Signal Processing, and Robotics. I'm currently an M.Sc. student in Machine Learning at the Eberhard Karls University of Tübingen, where I am diving deep into the exciting world of AI and ML. My goal is to become a leading researcher and educator in these fields and make a real impact on the world.
              </p>
              <p>
                On this website, you'll find a detailed CV that gives an insight into my professional experience and qualifications, as well as a collection of cheat sheets and tutorials that I've created to help others learn about the latest and greatest in AI and ML. I also have a blog where I share my thoughts and musings on the industry, as well as a portfolio of my projects in the field.
              </p>
              <p>
                But that's not all. I'm always looking for new challenges and opportunities to grow, whether it's learning a new algorithm or taking on a new research project. So, if you're looking for inspiration or just want to have a chat about AI and ML, feel free to drop me an email or connect with me on social media.
              </p>
              <p>
                As the field of AI and ML is rapidly evolving, I believe that the best way to predict the future is to create it. I am eager to join forces with like-minded individuals and organizations to shape the future and make a real impact.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:guray.ozgur@student.uni-tuebingen.de"> <i class="fas fa-envelope"></i></a> &nbsp;/&nbsp;
                <a href="https://github.com/gurayozgur"> <i class="fab fa-github"></i></a> &nbsp;/&nbsp;
                <a href="https://www.twitter.com/hutcun"> <i class="fab fa-twitter"></i></a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/guray"> <i class="fab fa-linkedin"></i> </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="https://avatars.githubusercontent.com/u/22301676?v=4">
            </td>
          </tr>
        </table>
        <h2>Education</h2>
<ul>
  <li>
    <strong>09.2021 - Current</strong> <a style="font-size:small;">Tübingen, Germany</a>
    <br>
    <a href="https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/studium/studiengaenge/machine-learning/"><strong> Machine Learning, MSc</strong></a>
    <br>
    <a href="https://uni-tuebingen.de/">Eberhard Karls University of Tübingen</a>

    <br>
    GPA: 1.77
  </li>
  <li>
    <strong>09.2016 - 07.2021</strong> <a style="font-size:small;">Ankara, Türkiye</a>
    <br>
    <a href="https://math.metu.edu.tr/"><strong>Mathematics, BSc</strong></a>
    <br>
    <a href="https://www.metu.edu.tr/">Middle East Technical University</a>
    <br>
    CGPA: 3.53/4.00
  </li>
  <li>
    <strong>09.2015 - 07.2021</strong> <a style="font-size:small;">Ankara, Türkiye</a>
    <br>
    <a href="https://eee.metu.edu.tr/"><strong>Electrical and Electronics Engineering, BSc</strong></a>
    <br>
    <a href="https://www.metu.edu.tr/">Middle East Technical University</a> 
    <br>
    CGPA: 3.43/4.00
  </li>
   <li>
    <strong>08.2018 - 01.2019</strong> <a style="font-size:small;">Daejeon, South Korea</a>
    <br>
    <a href="https://ee.kaist.ac.kr/en/"><strong>School of Electrical Engineering, Exchange</strong></a>
    <br>
    <a href="https://www.kaist.ac.kr/en/">Korea Advanced Institute of Science and Technology</a> 
    <br>
  </li>
  <li>
    <strong>09.2011 - 06.2015</strong> <a style="font-size:small;">Eskişehir, Türkiye</a>
    <br>
    <strong>High School</strong>
    <br>
    <a href="https://eskisehiranadolulisesi.meb.k12.tr/">Eskişehir Anadolu Lisesi</a>
  </li>
</ul>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;"> 
                  © 2023 Guray Ozgur, design from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

