<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Guray Ozgur
              </h1>
               <p style="text-align:center">
                <a target="_blank" href="mailto:guray.ozgur@student.uni-tuebingen.de"> <i class="fa-solid fa-envelope"></i></a> &nbsp;&nbsp;
                <a href="https://github.com/gurayozgur"><i class="fa-brands fa-github"></i></a> &nbsp;&nbsp;
                <a href="https://www.twitter.com/hutcun"><i class="fa-brands fa-twitter"></i></a> &nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/guray"> <i class="fa-brands fa-linkedin"></i> </a>
              </p>
              <p>
                Hi, I'm Guray!
                Welcome to my personal webpage, where I share my passion for Machine Learning, Artificial Intelligence, Signal Processing, and Robotics. I'm currently an M.Sc. student in Machine Learning at the Eberhard Karls University of Tübingen, where I am diving deep into the exciting world of AI and ML. My goal is to become a leading researcher and educator in these fields and make a real impact on the world.
              </p>
              <p>
                On this website, you'll find a detailed CV that gives an insight into my professional experience and qualifications, as well as a collection of cheat sheets and tutorials that I've created to help others learn about the latest and greatest in AI and ML. I also have a blog where I share my thoughts and musings on the industry, as well as a portfolio of my projects in the field.
              </p>
              <p>
                But that's not all. I'm always looking for new challenges and opportunities to grow, whether it's learning a new algorithm or taking on a new research project. So, if you're looking for inspiration or just want to have a chat about AI and ML, feel free to drop me an email or connect with me on social media.
              </p>
              <p>
                As the field of AI and ML is rapidly evolving, I believe that the best way to predict the future is to create it. I am eager to join forces with like-minded individuals and organizations to shape the future and make a real impact.
              </p>
              <p style="text-align:center">
                <a href="https://gurayozgur.github.io/pdfs/23-02-05_CV.pdf"> CV &nbsp;	&middot; &nbsp;
                <a href="https://gurayozgur.github.io/inkwell"> Inkwell &nbsp;	&middot; &nbsp;
                <a href="https://gurayozgur.github.io/tiptop"> TipTop </a> &nbsp;	&middot; &nbsp;
                 <a href="https://gurayozgur.github.io/reflection-avenue"> Reflection Avenue </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="https://avatars.githubusercontent.com/u/22301676?v=4">
            </td>
          </tr>
        </table>
       
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;"> 
                  © 2023 Guray Ozgur, design from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

